
// Fonts
$lightFont: 400;
$normalFont: 600;
$boldFont: 800;

$raleWayFontFamily: 'Raleway', sans-serif;

  // Colors
$color__first: rgb(150,0,0);
$color__first--hover: rgb(150,0,0,0.5);
$color__second: rgb(41,30,151);
$color__second--hover: rgba(41,30,151,0.2);
